
biblioteca {
    display: inline;    
}
libro { 
    display: table;
    border: green 5px solid;    
    border-spacing: 8px; 
    float: left;
    margin: 10px;
}
titulo, autor, fechaPublicacion {
    display: table-row;
}
